<% include partials/header %>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="card card-1">
            <div class="inner-card-section">
                <div class="user-profile__username"><b><%= currentUser.username %></b></div>
                <span class="user-profile__info inner-card__info"> Passionate hair stylist</span>
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>

<div class="row">
    <div class="row">
        <% if(posts.length == 0){ %>
        <div class="col-lg-2"></div>
        <div class="col-lg-10">Hi</div>
        <div class="col-lg-2"></div>
        <% } else { posts.forEach(function(post){ %>
        <div class="col-lg-3 col-md-6"></div>
        <div class="col-lg-6 col-sm-12 col-md-6">
            <div class="outer-card-section-post">
                <div class="card card-1">
                    <div class="inner-card-section">
                        <div class="author"><%= post.author %></div>
                        <span class="inner-card__info"> Passionate hair stylist</span>
                        <div class="content"><%= post.content %></div><br>
                        <!-- The image  -->
                        <% if(post.image == null){}else{ %>
                        <div class="post-image"> <img class="img-responsive center-block rounded-image"
                                src="/<%= post.image %>" alt="not-found">
                        </div>
                        <% } %>
                        <div class="inner-card__footer">
                            <div class="likes">
                                <a class="likeicon" postId="<%= post._id %>" id="<%= post._id %>"
                                    onclick="updateLikes(event)" username="<%= currentUser.username %>">
                                    <i class="fa fa-thumbs-o-up" id="<%= post._id %>" aria-hidden="true"
                                        userName="<%= currentUser.username %>"></i>
                                </a>
                                <span class="glyphicon glyphicon-comment inner-card__footer__icons"></span>
                                <span class="glyphicon glyphicon-share inner-card__footer__icons"></span>
                                <span class="inner-card__footer__icons likes-display ">
                                    <span class="like-count-<%= post._id %>">
                                        <%= post.likes %>
                                    </span>
                                    Likes, 1 Comment</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-10"></div>
        <% }); %>
        <% } %>
    </div>
</div>
<% include partials/footer %>